* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
}
@font-face {
    font-family: RobotoLight; /* Имя шрифта */
    src: url(../Fonts/robotolight.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: RobotoBlack; /* Имя шрифта */
    src: url(../Fonts/robotoblack.ttf); /* Путь к файлу со шрифтом */
}

li{
    list-style: none;
}
    
    body {
        margin: 0;
        font-family: 'RobotoLight', sans-serif;
        width: auto;
    }
.head{
    background-image: url(../image/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 600px;
   
}
.logo>img{
    width: 30px;
    height: 30px;
    background: aqua;
}
.logo{
    display: flex;
       margin: 2%;
       padding-left: 19%;
}

a{
    color: white;
}

.logo h2{
    color: aquamarine;
}

.nav-bar{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}
.navigation {
    padding-right: 45%;
    padding-top: 5%;
}

.navigation-list {
    display: flex;
    font-size: 0;
    font-family: 'Robotoblack'
}

.navigation-list li a{
    display: inline-block;
    Text-decoration: none;
	
}

.navigation-list li  {
    list-style: none;
    font-size: 0.7rem; 
    margin: 1%;
    
}
.text h1{
    padding: 6%;
    color: white;
}

.about-learn-more{
    margin: 4%;
}

.text p{
    color: white;
}

.text{
    text-align: center;
}

.btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    color: aqua;
    outline:none;
    padding: 1%;
    border: 1px solid aqua;

}
.story-learn-more {
        float: left;
        margin-top: 5%;
}

.our-story{
    min-height: 450px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    padding: 5%;
}
.Logo-aqua{
    margin: 10%;
    padding-right: 1%;
}

.info{
    text-align: center;
}
.info>h1{
    margin: 2%;
    padding: 15% 0% 0% 0%;
}
.video{
    min-height: 500px;
    background-image: url(../image/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-btn {
    border: none;
    background: padding-box;
}

.fa-play-circle {
    font-size: 68px;
    color: white;
}

.watch{
    color: white;
}

.watch{
    padding-top: 2%;
}